@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Lato";
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 35px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
}

.header__logo {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 2;
}

@media (max-width: 767px) {
  .header__logo {
    left: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    padding: 0 0 0 15px;
  }
}

@media (max-width: 767px) {
  .header {
    top: 15px;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  position: relative;
}

.menu__list li:not(:last-child) {
  padding: 0 37.5px;
}

.menu__list li:nth-child(2) {
  padding: 0 110px 0 37.5px;
}

.menu__list li:nth-child(3) {
  padding: 0 37.5px 0 110px;
}

.menu__list li:first-child {
  padding: 0 37.5px 0 0;
}

.menu__list li:last-child {
  padding: 0 0 0 37.5px;
}

.menu__list li:after {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #4d4959;
  position: absolute;
  right: 0;
  top: 5px;
}

.menu__list li:nth-child(2)::after, .menu__list li:last-child::after {
  display: none;
}

.menu__link {
  color: #4d4959;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (min-width: 768px) {
  .menu__link:hover {
    color: #9B97A7;
  }
}

@media (max-width: 767px) {
  .menu .menu__body {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: #4d4959;
    padding: 150px 0 0 0;
    overflow: auto;
  }
  .menu .menu__body.active {
    top: 0;
  }
  .menu .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu .menu__list li {
    padding: 0;
  }
  .menu .menu__list li:not(:last-child) {
    padding: 0 0 45px 0;
  }
  .menu .menu__list li:not(:last-child):after {
    display: block;
  }
  .menu .menu__list li:after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
    right: 50%;
    top: 40px;
    margin: 0px -2px 0px 0px;
  }
  .menu .menu__link {
    color: #fff;
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .icon-menu {
    display: block;
    position: absolute;
    z-index: 5;
    cursor: pointer;
    height: 18px;
    width: 30px;
    top: 33px;
    right: 15px;
  }
  .icon-menu span {
    content: "";
    background-color: #4d4959;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 8px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .icon-menu span:first-child {
    top: 0;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }
  .icon-menu.active span {
    background-color: #fff;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .icon-menu.active span:first-child {
    top: 8px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .icon-menu.active span:last-child {
    top: auto;
    bottom: 8px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.ibg > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.generation {
  background-color: #f7f7f7;
  padding: 120px 0;
}

@media (max-width: 900px) {
  .generation {
    padding: 80px 0;
  }
}

@media (max-width: 600px) {
  .generation {
    padding: 30px 0;
  }
}

.block {
  text-align: center;
}

.block__icon {
  margin: 0 0 33px 0;
}

.block__title {
  color: #353738;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  margin: 0 0 18px 0;
}

.block__text {
  color: #848789;
  font-size: 18px;
  line-height: 34px;
}

.block__text_j {
  text-align: justify;
  font-size: 16px;
  line-height: 30px;
}

.block__text_j:after {
  content: "";
  display: block;
  margin: 35px auto 0px auto;
  width: 50px;
  height: 1px;
  background-color: #353738;
}

@media (max-width: 1500px) {
  .block__text_j:after {
    margin: 15px auto 0 auto;
  }
}

.brands__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(600px, 1fr);
}

@media (max-width: 1100px) {
  .brands__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.brands__item-b {
  grid-column: span 2;
}

.brands__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.brands__content {
  padding: 70px 65px 50px 65px;
}

@media (max-width: 1500px) {
  .brands__content {
    padding: 40px 35px 30px 35px;
  }
}

.item-b {
  display: block;
  position: relative;
}

@media (max-width: 1100px) {
  .item-b {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 250px;
            flex: 1 0 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 426px) {
  .item-b:hover .item-b__logo {
    opacity: 1;
    visibility: visible;
  }
}

.item-b__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
}

@media (min-width: 426px) {
  .item-b__logo {
    background-color: rgba(118, 188, 159, 0.6);
  }
}

.item-b__image {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

@media (max-width: 1100px) {
  .item-b__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}

.item {
  position: relative;
}

@media (min-width: 426px) {
  .item:hover .item__logo {
    opacity: 1;
    visibility: visible;
    background-color: rgba(118, 188, 159, 0.6);
  }
}

.item__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  z-index: 5;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item__body {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: block;
}

.item__body:after {
  content: "";
  position: absolute;
  bottom: -20px;
  z-index: 2;
  left: 50%;
  margin: 0px 0px 0px -10px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 10px solid #fff;
}

.item__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
  position: relative;
}

/*--------------------------------*/
.slider {
  background-color: #f7f7f7;
  padding: 120px 0 60px 0;
}

@media (max-width: 1100px) {
  .slider {
    padding: 80px 0 40px 0;
  }
}

@media (max-width: 570px) {
  .slider {
    padding: 50px 0 40px 0;
  }
}

.slider__body {
  position: relative;
  padding: 0 0 100px 0;
  overflow: hidden;
}

@media (max-width: 1100px) {
  .slider__body {
    padding: 0 0 60px 0;
  }
}

.slider__body .swiper-pagination {
  bottom: 0;
}

.slider__body .swiper-pagination span {
  display: inline-block;
  margin: 0 5px;
}

.slider__body .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  background-color: transparent;
  border: 1px solid #a9afb3;
  opacity: 1;
}

.slider__body .swiper-pagination-bullet-active {
  background-color: #a9afb3;
}

.slider__item {
  text-align: center;
}

.slider__icon {
  margin: 0 0 35px 0;
}

.slider__title {
  color: #353738;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.slider__title span {
  font-weight: 300;
  color: #848789;
}

.slider__text {
  text-align: center;
  color: #848789;
  font-size: 24px;
  font-style: italic;
  line-height: 34px;
}

.slider__text p:not(:last-child) {
  margin: 0 0 15px 0;
}

/*---------------------------------------*/
.shop {
  position: relative;
}

.shop__galery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1fr;
}

@media (max-width: 1100px) {
  .shop__galery {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.shop__item {
  position: relative;
  padding: 0 0 50% 0;
}

@media (max-width: 1100px) {
  .shop__item {
    padding: 0 0 40% 0;
  }
}

@media (min-width: 426px) {
  .shop__item:hover .item__logo {
    opacity: 1;
    visibility: visible;
    background-color: rgba(118, 188, 159, 0.6);
  }
}

.shop__item_row-2 {
  grid-row: span 2;
}

@media (min-width: 1100px) {
  .shop__item_row-2 {
    grid-row: span 2;
  }
}

.shop__item_column-2 {
  grid-column: span 2;
}

@media (min-width: 1100px) {
  .shop__item_column-2 {
    grid-column: span 2;
  }
}

.shop__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.shop__footer {
  background-color: #282f35;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop__btn {
  border: 1px solid #919497;
  background-color: transparent;
  color: #fff;
  padding: 10px 55px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 28px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (min-width: 768px) {
  .shop__btn:hover {
    border-color: #fff;
  }
}

/*---------------------------------------------*/
.subscribe__body {
  padding: 110px 0 55px 0px;
  text-align: center;
  max-width: 534px;
  margin: 0 auto;
}

.subscribe__logo {
  margin: 0 0 35px 0;
}

.subscribe__title {
  font-size: 24px;
  line-height: 34px;
  font-style: italic;
  color: #848789;
  margin: 0 0 35px 0px;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 70px;
}

.subscribe__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 8px 0px 0px;
}

.subscribe__input .input {
  width: 100%;
  height: 70px;
  border: 1px solid #d3d7d9;
  color: #929292;
  font-style: italic;
  font-size: 20px;
  padding: 0 28px;
}

.subscribe__input .input._active {
  color: #000;
  font-style: normal;
}

.subscribe__input .input._error {
  border: 1px solid red;
}

.subscribe__input_error {
  color: red;
  margin: 10px 0 0 0;
  text-align: left;
  font-size: 20px;
}

.subscribe__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 126px;
          flex: 0 0 126px;
}

.subscribe__btn {
  width: 100%;
  line-height: 69px;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  background-color: #64c29e;
  font-weight: 300;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (min-width: 768px) {
  .subscribe__btn:hover {
    background-color: #2D906A;
  }
}

@media (max-width: 750px) {
  .subscribe__body {
    padding: 50px 0;
  }
}

@media (max-width: 500px) {
  .subscribe__form {
    display: block;
  }
  .subscribe__input {
    padding: 0px 0px 8px 0px;
  }
}

/* --------------------------------------- */
.footer {
  background-color: #f7f7f7;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
}

.footer__address {
  color: #848789;
  font-size: 14px;
  line-height: 18px;
  padding: 0px 20px 0px 0px;
}

.footer__address p:first-child {
  font-weight: 700;
}

@media (max-width: 1100px) {
  .footer {
    padding: 50px 0;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 30px 0;
  }
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer__address {
    padding: 0;
  }
  .footer__social {
    margin: 15px 0;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__link {
  margin: 0 7.5px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

@media (min-width: 768px) {
  .social__link:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dev__text {
  color: #848789;
  font-size: 14px;
  font-style: italic;
  padding: 0 9px 0 0;
}
